{{log @outletArgs}}
<h1>{{this.currentText}}</h1>
<div id="typingDuration" visibility="hidden">{{@outletArgs.model.typingTime}}</div>
<h2>{{outletArgs.model.typingTime}}</h2>
<h1>{{@outletArgs.model.reply}}</h1>
<h1>{{this.containsFlag}} </h1>